body {
 background-color: rgb(76, 72, 72);
 color: white;
 font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 1000px;
}

.btn-cont {
  display: flex;
  flex-direction: column;
}

.grid-cont {
  display: flex;
  width: 500px;
  height: 500px;
  flex-wrap: wrap;
  margin: 40px;
 }

 .squares {
   background-color: white;
   display: flex;
   width: 30px;
   height: 30px;   
 }

 .squares:hover {
   filter: brightness(90%);
 }